{% extends "core/base.html" %}

{% load static %}
{% load tmdb %}

{% block custom_css %}
{{ block.super }}
<link href="{% static 'tmdb/css/progress.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<img class="poster" src="{% poster_url show.poster_path 6 %}" alt="Poster">

<div class="right-section">
    <div class="title">
        <h4>{{ show.name }}</h4>
        <span>{{ show.vote_average }}/10</span>
        <span>{{ show.status_display }}</span>
    </div>

    <div class="details">
        <div>
            Genres:
            {% for genre in show.genres %}
            <span>{{ genre.name }}{% if not forloop.last %}, {% endif %}</span>
            {% endfor %}
        </div>
        <div>
            Languages:
            {% for language in show.languages %}
            <span>{{ language.upper }}{% if not forloop.last %}, {% endif %}</span>
            {% endfor %}
        </div>
    </div>

    <p>{{ show.overview }}</p>

    <form method="post" novalidate>
        {% csrf_token %}

        {{ form.show_id.as_hidden }}
        {{ form.show_name.as_hidden }}
        {{ form.show_poster_path.as_hidden }}
        {{ form.show_status.as_hidden }}
        {{ form.show_languages.as_hidden }}
        {{ form.last_aired_season.as_hidden }}
        {{ form.last_aired_episode.as_hidden }}

        <label for="{{ form.status.id_for_label }}">Status:</label>
        {{ form.status }}
        {{ form.status.errors }}

        <label for="{{ form.episodes.id_for_label }}">Last Watched:</label>
        {{ form.last_watched }}

        <div class="btn-section">
            <input class="button-primary"
                type="submit"
                value="{% if progress %}Update{% else %}Save{% endif %}">
            </input>

            {% if progress %}
            <button id="delete-btn" type="button" data-delete-url="{{ progress.delete_url }}">
                Delete
            </button>
            {% endif %}
        </div>
    </form>
</div>
{% endblock %}

{% block js %}
{% if progress %}
{{ block.super }}
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
{% endif %}
{% endblock %}

{% block custom_js %}
{% if progress %}
{{ block.super }}
<script src="{% static 'tmdb/js/progress.js' %}"></script>
{% endif %}
{% endblock %}
