{% extends "core/base.html" %}

{% block content %}
<form method="post" novalidate>
    {% csrf_token %}

    {% include 'core/components/message_list.html' %}

    {{ form.non_field_errors }}

    <label for="{{ form.email.id_for_label }}">Email:</label>
    {{ form.email }}
    {{ form.email.errors }}

    <label for="{{ form.message.id_for_label }}">Message:</label>
    {{ form.message }}
    {{ form.message.errors }}

    <div class="btn-section">
        <input class="button-primary" type="submit" value="Send"></input>
    </div>
</form>
{% endblock %}
