.env
.venv
venv
__pycache__
*.pyc
.coverage
.DS_Store

cov_report/*
!cov_report/.gitkeep

staticfiles/*
!staticfiles/.gitkeep

# Terraform
.terraform
*.tfstate
*.tfstate.backup
*.tfstate.lock.info

.vscode

docker-compose.override.yml
