body { margin: 0; }

form, .link-section {
    display: flex;
    flex-direction: column;
    margin: 0 auto 30px;
    max-width: 350px;
}

form .btn-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form .btn-section input { margin: 0; }

.successlist, .errorlist { list-style: none; }

.successlist li { color: #42a742; }

.errorlist li { color: #ff3838; }

.container {
    margin: 0 auto;
    max-width: 1200px;
}

.main-container { margin: 84px auto 198px; }
