{% extends "core/base.html" %}

{% block content %}
<form method="post">
    {% csrf_token %}

    {{ form.non_field_errors }}

    <label for="{{ form.username.id_for_label }}">Email:</label>
    {{ form.username }}
    {{ form.username.errors }}

    <label for="{{ form.password.id_for_label }}">Password:</label>
    {{ form.password }}
    {{ form.password.errors }}

    <div class="btn-section">
        <input class="button-primary" type="submit" value="Login"></input>
        <a class="button-primary" href="">
            Forgot My Password
        </a>
    </div>
</form>
{% endblock %}
