{% extends "core/base.html" %}

{% block content %}
<form method="post" novalidate>
    {% csrf_token %}

    {{ form.non_field_errors }}

    <label for="{{ form.new_password1.id_for_label }}">New Password:</label>
    {{ form.new_password1 }}
    {{ form.new_password1.errors }}

    <label for="{{ form.new_password2.id_for_label }}">Confirm New Password:</label>
    {{ form.new_password2 }}
    {{ form.new_password2.errors }}

    <div class="btn-section">
        <input class="button-primary" type="submit" value="Reset Password"></input>
    </div>
</form>
{% endblock %}
