{% extends "core/base.html" %}

{% block content %}
<form method="post" novalidate>
    {% csrf_token %}

    {{ form.non_field_errors }}

    <label for="{{ form.current_password.id_for_label }}">Current Password:</label>
    {{ form.current_password }}
    {{ form.current_password.errors }}

    <label for="{{ form.password.id_for_label }}">New Password:</label>
    {{ form.password }}
    {{ form.password.errors }}

    <label for="{{ form.password_confirm.id_for_label }}">Confirm New Password:</label>
    {{ form.password_confirm }}
    {{ form.password_confirm.errors }}

    <div class="btn-section">
        <input class="button-primary" type="submit" value="Save"></input>
    </div>
</form>
{% endblock %}
