.progress-card {
    display: flex;
    margin-bottom: 20px;
    color: inherit;
    text-decoration: none;
    border: 1px solid #bbb;
    border-radius: 3px;
    box-sizing: border-box;
}

.progress-card:hover { color: inherit; }

.progress-card>a, .progress-card>a>img {
    width: 154px;
    height: 231px;
}

.progress-card>div {
    display: flex;
    flex-direction: column;
    padding: 6px 16px;
    width: 100%;
}

.progress-card>div>h6 {
    margin-bottom: 8px;
    width: 200px;
    font-size: 18px;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.progress-card>div>span { margin-bottom: 8px; }

.progress-card button { margin-bottom: 0; }
