{% load static %}

<div class="header">
    <div class="container">
        <div class="header-section">
            <img src="{% static 'core/img/logo_without_title.png' %}" class="logo" alt="Logo">

            {% if user.is_authenticated %}
            {% include 'core/components/header_item.html' with url_name="tmdb:progresses" text="Progresses" %}
            {% endif %}

            {% include 'core/components/header_item.html' with url_name="tmdb:popular_shows" text="Popular Shows" %}
            {% include 'core/components/header_item.html' with url_name="tmdb:search" text="Search" %}
        </div>

        <div class="header-section">
            {% include 'core/components/header_item.html' with url_name="website:contact" text="Contact" %}

            {% if user.is_authenticated %}
            {% include 'core/components/header_item.html' with url_name="accounts:profile" text=user.email %}
            {% else %}
            {% include 'core/components/header_item.html' with url_name="accounts:login" text="Login" %}
            {% include 'core/components/header_item.html' with url_name="accounts:signup" text="Signup" %}
            {% endif %}
        </div>
    </div>
</div>
