{% extends "core/base.html" %}

{% load static from staticfiles %}

{% block custom_css %}
{{ block.super }}
<link href="{% static 'tmdb/css/progresses.css' %}" rel="stylesheet">
<link href="{% static 'tmdb/css/components/progress_card.css' %}" rel="stylesheet">
<link href="{% static 'tmdb/css/components/progress_card_list.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="summary-card">
    <span>Saved: {{ saved_count }}</span>
    <span>Following: {{ following_count }}</span>
    <hr>
    <a href="#available">Available: {{ available|length }}</a>
    <a href="#scheduled">Scheduled: {{ scheduled|length }}</a>
    <a href="#unavailable">Unavailable: {{ unavailable|length }}</a>
    <hr>
    <a href="#paused">Paused: {{ paused|length }}</a>
    <a href="#finished">Finished: {{ finished|length }}</a>
    <a href="#stopped">Stopped: {{ stopped|length }}</a>
</div>

<div class="progress-card-lists">
    {% include 'tmdb/components/progress_card_list.html' with title="Available" progresses=available only %}
    {% include 'tmdb/components/progress_card_list.html' with title="Scheduled" progresses=scheduled only %}
    {% include 'tmdb/components/progress_card_list.html' with title="Unavailable" progresses=unavailable only %}
    {% include 'tmdb/components/progress_card_list.html' with title="Paused" progresses=paused only %}
    {% include 'tmdb/components/progress_card_list.html' with title="Finished" progresses=finished only %}
    {% include 'tmdb/components/progress_card_list.html' with title="Stopped" progresses=stopped only %}
</div>
{% endblock %}

{% block js %}
{{ block.super }}
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
{% endblock %}

{% block custom_js %}
{{ block.super }}
<script src="{% static 'tmdb/js/progresses.js' %}"></script>
{% endblock %}
