{% load tmdb %}

<div class="progress-card">
    <a href="{{ progress.update_url }}">
        <img src="{% poster_url progress.show_poster_path 4 %}" alt="Poster">
    </a>

    <div>
        <h6>{{ progress.show_name }}</h6>

        <span>{{ progress.get_show_status_display }}</span>

        <span>
            Last Watched:<br>
            {% if progress.not_started %}
            Not started, yet.
            {% else %}
            {{ progress.last_watched_label }}
            {% endif %}
        </span>

        {% if progress.list_in_available or progress.list_in_scheduled %}
        <span>
            {% if progress.list_in_available %}
            Watch Now:
            {% else %}
            Scheduled:
            {% endif %}
            <br>{{ progress.next_to_watch_label }} - {{ progress.next_air_date }}
        </span>
        {% endif %}

        {% if progress.list_in_available %}
        <div>
            <button class="watch-next-btn" data-watch-next-url="{{ progress.watch_next_url }}">
                Next
            </button>
        </div>
        {% endif %}
    </div>
</div>
