@keyframes spin { 100% { transform:rotate(360deg); } }

.loader {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 9999;
}

.loader img {
    width: 90px;
    height: 90px;
    animation: spin 3s linear infinite;
}
