.container {
    display: flex;
    align-items: flex-start;
}

.container .summary-card {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 84px;
    margin-right: 24px;
    padding: 8px 16px;
    width: 210px;
    border: 1px solid #bbb;
    border-radius: 3px;
    box-sizing: border-box;
}

.container .summary-card span { margin: 4px 0; }

.container .progress-card-lists { flex: 1; }
